@import url("//fonts.googleapis.com/earlyaccess/jejumyeongjo.css");
@import url("//fonts.googleapis.com/earlyaccess/jejugothic.css");
@font-face {
  font-family: "LeeSeoyun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Recipekorea";
  src: url(./font/Recipekorea레코체FONT.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#root {
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
